<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- CSS -->
    <link rel="stylesheet" href="styles.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <img class="hamburger-menu" src="images/menu.png" alt="">
    <div class="smallScreenNavLine"></div>
    <nav>
        <ul>
            <h4>KORDIFIER</h4>
            <a class="h" href="/">Home</a>
            <a class="a" href="/about">About</a>
            <a class="p" href="/portfolio">Portfolio</a>
            <a class="c" href="/contact">Contact</a>
            <a href="https://www.linkedin.com/in/daniel-richards-1724591a3" target="_blank">
            <img class="linkedin-icon" src="images/linkedin.png" alt="">
        </a>
        </ul>
    </nav>

    <div class="side-nav">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/portfolio">Portfolio</a>
        <a href="/contact">Contact</a>
    </div>

<script>
    var click = 1;

    document.getElementsByClassName('hamburger-menu')[0].addEventListener("click", function(){
        click++;
        if ((click % 2) === 0) {
        openNav();
        click;
        }   
        if ((click % 2) === 1) {
        closeNav()
        click;
        }
    });

    function openNav() {
        document.getElementsByClassName('side-nav')[0].style.width = '50%';
    };
    function closeNav() {
        document.getElementsByClassName('side-nav')[0].style.width = '0';
    }

</script>