<%- include('partials/header.ejs') %> 

    <section id="contact">
        <h2>Get in touch</h2>
        <div class="image">
            <img src="images/mountains.jpg" alt="">
        </div>
        <div class="form">
            <form action="https://formspree.io/kordifier@gmail.com" method="POST">

              <input type="text" name="name" placeholder="Name">
              <input type="email" name="_replyto" placeholder="Your Email">
              <textarea name="message" placeholder="Message"></textarea>
           
            <button type="submit" value="send">Send</button>
          </form>
        </div>

        <div class="contact-info">
          <p>Email: Kordifier@gmail.com</p>
          <p>Phone: 07401798244</p>
        </div>
    </section>
</body>
</html>
