<%- include('partials/header.ejs') %>
    
<section id="learn-more">
    <img class="learn-more-background" src="images/mountains.jpg" alt="">

    <div class="info-box">
        <img src="images/me.jpg" alt="">
        <p>
            Hello, my name is Daniel. I am a full stack Developer, and with many industry-standard tools and skills behind me, I am able to put together an interactive, stylistic, fully fledged website.
        </p>
        <p>
            I have a keen eye for design, and I aim to make all of my websites visually compelling to the user, I am able to achieve this with my experience with Adobe (Illustrator, Photoshop, XD). 
            My web-development skills alone, Include HTML, CSS, Javascript, Node.js and MongoDB. I also use frameworks such as React, Express, Bootstrap, Mongoose, Passport and Ejs.
        </p>
        <button id="cross">X</button>
    </div>
</section>
<script>
    document.getElementById('cross').onclick = () => {
        location.href = "/about";
    };
    </script>