<%- include('partials/header.ejs') %> 

    <section id="portfolio">
        <img class="portfolio-image" src="images/mountains.jpg" alt="">
        <h2>Portfolio</h2>
        <div class="border-box">
            <div class="grid">
                <div><div></div></div>
                <div><div></div></div>
                <div><div></div></div>
            </div>
            <a href="https://github.com/Kordifier" target="_blank">
                <img class="github-logo" src="images/gitpic.png" alt="">
                </a>
        </div>
    </section>

</body>
</html>