<%- include('partials/header.ejs') %> 

    <section id="portfolio">
        <img class="portfolio-image" src="images/mountains.jpg" alt="">
        <h2>Portfolio</h2>
        <a href="https://github.com/Kordifier" target="_blank">
            <img class="github-logo" src="images/gitpic.png" alt="">
            </a>
        <div class="border-box">
            <div class="grid">
                <div class="pBox-1"><div>
                    <a href="https://ancient-reaches-35179.herokuapp.com" target="_blank">
                        <img class="bytehunt-pic"src="images/bytehunt-pic.png" alt="">
                        </a>
                </div></div>
                <div class="pBox-2"><div></div></div>
                <div class="pBox-3"><div></div></div>
            </div>
        </div>
    </section>

</body>
</html>
